<section id="Education">
  <div class="container">
    <h3>Education</h3>
    <div class="panel panel-default">

      <h6 style="display: flex">
        <div align="left" style="width: 35%">
          <img src="http://homepages.dcc.ufmg.br/~juniocezar/include/img/ufmg.png" width="64px" hspace="10">
          <strong>Aug 2012 - Jun 2017</strong>
        </div>
        <div align="right" style="flex-grow: 1; margin-top: 23px">
          Bsc in Computer Science at Federal University of Minas Gerais (DCC/UFMG)
        </div>
      </h6>

      <hr>

      <h6 style="display: flex">
        <div align="left" style="width: 35%">
          <img src="http://www.dit.ie/media/logo/DIT_logocol2013_web.jpg" width="64px" hspace="10">
          <strong>Aug 2015 - Jun 2016</strong>
        </div>
        <div align="right" style="flex-grow: 1; margin-top: 23px">
          Visiting Student at Dublin Institute of Technology - Dublin, IE
        </div>
      </h6>

      <hr>

      <h6 style="display: flex">
        <div align="left" style="width: 35%">
          <img src="http://homepages.dcc.ufmg.br/~juniocezar/include/img/ufmg.png" width="64px" hspace="10">
          <strong>Aug 2017 - Jun 2019</strong>
        </div>
        <div align="right" style="flex-grow: 1; margin-top: 23px">
          Msc in Computer Science at Federal University of Minas Gerais (<a href="http://lac.dcc.ufmg.br/index.html">LaC</a>/DCC/UFMG)
        </div>
      </h6>

      <hr>



    </div>
  </div>
  </div>
</section>
