<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    	<p>You can see a list of personal projects in my <a href="https://github.com/guilhermeleobas">GitHub repo</a></p>

    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guilhermeleobas/Benchmarks">Benchmarks</a></strong>
			- A collection of more than 220 benchmarks used by compilers engineers to measure compiler optimizations.
		</h5>

    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guilhermeleobas/tf">TF</a></strong>
			- A simple test framework built using bash to compile, instrument and profile benchmarks.
		</h5>

    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guilhermeleobas/cftool">cftool</a></strong>
			- Get inputs and outputs for a specific problem or contest on <a href="https://www.codeforces.com/">Codeforces</a> or
        <a href="https://github.com/guilhermeleobas/cftool/blob/master/www.urionlinejudge.com.br">URI</a>.
		</h5>

    </div>
  </div>
</div>
</section>
